@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Montserrat:wght@300&family=Pacifico&family=Raleway:wght@300&family=Roboto:wght@300&family=Tangerine&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  --bs-gutter-x: 0;
}

body {
  overflow-x: hidden;
  text-align: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin-bottom: 2rem;
}

h1 {
  /* font-family: 'Courgette', cursive; */
  /* font-family: 'Kaushan Script', cursive; */
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Tangerine', cursive; */
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 2rem;
  color: #1d1d1d;
  margin: 1rem 0 1.2rem;
}

h2 {
  font-family: 'Courgette', cursive;
  /* font-family: 'Kaushan Script', cursive; */
  /* font-family: 'Pacifico', cursive; */
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Tangerine', cursive; */
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 3.5rem;
  letter-spacing: 1px;
  color: #616161;
  margin: 0;
}


h3 {
  /* font-family: 'Courgette', cursive; */
  /* font-family: 'Kaushan Script', cursive; */
  /* font-family: 'Pacifico', cursive; */
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Tangerine', cursive; */
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
  margin: 0;
}

h1 span {
  font-weight: 100;
  font-size: 1.6rem;
}

.btn {
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  color: #ffffff;
  font-size: 20px;
  padding: 0;
  text-decoration: none;
  position: relative;
  width: 100%;
  height: 3rem;
  margin: 0.5rem;
  /* background-color: #a81616; */
  background: rgb(209, 200, 171);
  background: linear-gradient(270deg, rgb(224, 210, 162) 0%, rgb(206, 177, 84) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
  box-shadow: 8px 8px 8px -1px rgba(151, 151, 151, 0.66);
  -webkit-box-shadow: 8px 8px 8px -1px rgba(151, 151, 151, 0.66);
  -moz-box-shadow: 8px 8px 8px -1px rgba(151, 151, 151, 0.66);
}

.row_top {
  background-color: #326bf3;
  top: 0;
  height: 10px;
}

.btn:active {
  border: none;
}

#logo {
  margin: 1rem 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 0 1rem 0;
}

.row-bottom-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-bottom-text p {
  display: flex;
}

@media only screen and (max-width:780px) {
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .col-4,
  .col-8 {
    padding: 0 0.1rem;
  }

  .col-5,
  .col-7 {
    padding: 0 0.1rem;
  }

  .row {
    width: 100%;
    height: 100%;
  }

  .col-4 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .col-5 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .col-7 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .col-8 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

@media only screen and (max-width:500px) {
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .row_button {
    width: 50%;
  }

  .col-4,
  .col-8 {
    padding: 0 0.1rem;
  }

  .col-5,
  .col-7 {
    padding: 0 0.1rem;
  }

  .row {
    width: 100%;
    height: 60px;
  }

  .col-4 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .col-5 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .col-7 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .col-8 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .row-bottom-text {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top:40px;
    font-family: "Roboto", sans-serif;
  }

  .row-bottom-text p {
    display: flex;
    margin: 0;
    justify-content: center;
  }
}

.fas,
.fab {
  margin-right: 10px;
}

#logo {
  width: 75%;
  object-fit: contain;
}

a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram {
  /* background:#30618A ; */
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  background-repeat: no-repeat;
}

.facebook {
  /* background: linear-gradient(120deg, #4267B2, #b1caff); */
  background: #4267B2;
}

.website {
  background: #2F3D4D;
}

.application {
  background: #8C1407;
}

.google {
  background: #db4a39;
}

.linkedin {
  background: #2867b2;
}

.fa {
  margin-right: 13px;
  font-weight: 900 !important;
  font-size: 30px !important;
}

.image_love {
  width: 10%;
  height: 10%;
  margin: 2px;
}